<template>
    <div>
        <h2>Home Page</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="alert alert-info">Total Students {{totalStudent}}</div>
            </div>
        </div>

        <duv class="row">
            <div class="col-md-6">
                <form action="/action_page.php">
                    <div class="form-group">
                        <label for="email">Name:</label>
                        <input type="text" class="form-control" id="email" v-model="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Age:</label>
                        <input type="text" class="form-control" id="email" v-model="age">
                    </div>
                    <button type="button" class="btn btn-success">Submit</button>
                    </form>
            </div>
        </duv>

    </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'HomePage',
  props: {
    
  },
  computed:{
      ...mapGetters([
          'totalStudent'
      ])
  }
}
</script>
