<template>
    <div>
        <h2>Student List</h2>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Age</th>
                </thead>
                <tbody>
                    <tr v-for="(student,index) in studentLis" v-bind:key="index">
                    <td>{{student.name}}</td>
                    <td>{{student.age}}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState, mapGetters} from 'vuex'
export default {
    computed:{
        ...mapGetters([
        'studentLis'
    ])
  }
}
</script>

<style>

</style>
