<template>
  <div id="app">
    <div class="contanier">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <Navbar></Navbar>
          </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
             <router-view></router-view>
          </div>
      </div>
    </div>
  </div>
</template>

<script>

import Navbar from './components/Navbar.vue'


export default {
  name: 'app',
  components: {
    Navbar
  }
}
</script>

